@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");

:root {
  --pink: hsl(322, 100%, 66%);

  --vPaleCyan: hsl(193, 100%, 96%);
  --vdCyan: hsl(192, 100%, 9%);
  --gBlue: hsl(208, 11%, 55%);
}

* {
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*****************
***Body section***
******************/

body {
  text-align: center;
  background-color: var(--vdBlue);
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  /* font-family: "Poppins", sans-serif; */
  display: grid;
  place-items: center;
}

main {
  min-width: 100vw;
  min-height: 100vh;
  background: white;
}

/*******************
***Huddle section***
*******************/

.huddle {
  width: 100%;
  background: url('./images/bg-mobile.svg') no-repeat;
}

img {
    

}

/********************
***Used GB section***
********************/


/***********
***Slider***
***********/


/********************
***GB Left section***
********************/

/************************
***Media query section***
************************/

@media screen and (min-width: 800px) {
}
